* {
	font-family: Garamond
}

body {
	background: rgba(18,81,140,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(18,81,140,1) 0%, rgba(18,81,140,1) 46%, rgba(11,55,102,1) 78%, rgba(11,55,102,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(18,81,140,1)), color-stop(46%, rgba(18,81,140,1)), color-stop(78%, rgba(11,55,102,1)), color-stop(100%, rgba(11,55,102,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(18,81,140,1) 0%, rgba(18,81,140,1) 46%, rgba(11,55,102,1) 78%, rgba(11,55,102,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(18,81,140,1) 0%, rgba(18,81,140,1) 46%, rgba(11,55,102,1) 78%, rgba(11,55,102,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(18,81,140,1) 0%, rgba(18,81,140,1) 46%, rgba(11,55,102,1) 78%, rgba(11,55,102,1) 100%);
	background: radial-gradient(ellipse at center, rgba(18,81,140,1) 0%, rgba(18,81,140,1) 46%, rgba(11,55,102,1) 78%, rgba(11,55,102,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12518c', endColorstr='#0b3766', GradientType=1 );
}

.main-area {
	background: #000000
}

#searchbar.box {
	margin-top: 15px;
    margin-right: 15px;
	float: right
}

.container-1 {
	width: 300px;
	vertical-align: middle;
	white-space: nowrap;
	position: relative
}

.container-1 input#search {
	width: 150px;
	height: 20px;
	border: none;
	float: right;
	background: #ffffff;
	padding-left: 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px
}

.container-1 input#search::-webkit-input-placeholder {
   color: #63717f
}
 
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #63717f
}
 
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #63717f
}
 
.container-1 input#search:-ms-input-placeholder {  
   color: #63717f
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active {
    outline: none
}

.container-1 .icon {
	position: absolute;
	top: 50%;
	margin-left: 155px;
	z-index: 1;
	color: #4f5b66
}

.top-menu-bar {
	width: 100%;
	height: auto;
	clear: both
}

#logo, .menu-wrap.navbar-header.nav-collapse {
	display: inline-block;
	vertical-align: bottom
}

#logo {
	float: left;
	margin-left: 15px;
	padding-bottom: 20px
}

.menu-wrap.navbar-header.nav-collapse {
	float: right;
	padding-top: 30px
}

.menu-main-menu-container>ul {
	list-style-type: none;
	margin: 0
}

.menu-main-menu-container>ul>li {
	background: #000000;
	float: left;
	padding: 10px 15px;
	font-weight: 400;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 13px
}

.menu-main-menu-container>ul>li>a {
	color: #ffffff;
}

.menu-main-menu-container>ul>li>a:hover {
	text-decoration: none
}

.screen-reader-text {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden
}

.main-image>.img-fluid {
	max-width: 100%;
	width: 1170px;
	height: auto
}

.image-tagline {
	clear: both;
	padding-top: 20px
}

.image-tagline>#tagline {
	float: left;
	padding: 20px
}

.image-tagline>#social {
	float: right;
	padding-top: 25px
}

ul {
    list-style: none outside
}

.image-tagline ul li, .contact ul li {
    display: inline-block
}

#social>ul>li:last-child {
	padding-right: 20px
}

.content-area {
	background-color: #ffffff
}

.display-posts {	
	padding: 15px
}

.grey-sidebar {
	background: rgba(226,226,226,1);
	background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#ffffff', GradientType=0 );
    height: 100%;
    color: #000;
	margin-left: -30px;
	padding: 10px
}

.grey-sidebar h2 {
    font-size: 13px;
    text-transform: uppercase
}

.grey-sidebar a, .grey-sidebar a:hover {
    text-decoration: none;
    color: #2c83b0
}
.grey-sidebar ul {
    font-size: 13px;
    padding: 15px
}

footer {
    height: auto;
	padding-bottom: 40px;
    background-color: #0f0f0f;
    color: #6f6e6e
}

footer h2 {
    color: white
}

footer p {
    font-size: 13px;
    padding-top: 20px
}

.light {
	color: #a3a3a3
}

.contact ul {
	padding-left: 0px;
	padding-top: 20px
}

.contact p {
	padding-top: 5px
}

@media (min-width: 992px) {
	.flickr-column {
		margin-right: -40px
	}
}